<a href="https://colab.research.google.com/github/christinandrea/isai-project-2022/blob/v1-ml/Kedaireka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('Data_Klaten_HST0.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            30 non-null     int64
 1   Kode          30 non-null     object
 2   Carbon Total  30 non-null     float64
 3   Indeks_BI     30 non-null     float64
 4   Indeks_NDVI   30 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ KB

In [ ]:
df.head()

   No    Kode  Carbon Total  Indeks_BI  Indeks_NDVI
0   1  KLPL 1       39.3739   169.3330       0.0198
1   2  KLPL 2       35.6145   182.3129       0.0352
2   3  KLPL 3       34.7548   182.1117       0.0114
3   4  KLPL 4       36.5848   169.6821       0.0315
4   5  KLPL 5       41.6800   167.2533       0.0319

In [ ]:
data = df.drop(columns=['No', 'Kode'])

data = pd.get_dummies(data)
data

    Carbon Total  Indeks_BI  Indeks_NDVI
0        39.3739   169.3330       0.0198
1        35.6145   182.3129       0.0352
2        34.7548   182.1117       0.0114
3        36.5848   169.6821       0.0315
4        41.6800   167.2533       0.0319
5        38.7875   166.8452       0.0145
6        38.9714   174.4907       0.0084
7        39.9606   166.0964       0.0138
8        39.2068   179.4306       0.0143
9        38.5028   179.9491       0.0029
10       37.2107   167.3838       0.0180
11       44.9112   162.0432       0.0086
12       38.5650   178.1703       0.0117
13       34.2780   172.2498      -0.0208
14       33.6836   175.8115       0.0233
15       37.7356   178.3050       0.0339
16       38.5827   172.6219       0.0343
17       38.2176   160.4930       0.0305
18       36.6490   175.2189       0.0694
19       37.2320   167.0908       0.0058
20       40.6742   165.1050       0.0178
21       41.7145   171.7527      -0.0029
22       37.2268   164.2579       0.0118
23        3.3456   168.8925      -0.0057
24        2.2002   174.4907      -0.0170
25       46.5256   144.9161       0.0277
26       38.1837   159.3267       0.0372
27       40.4125   128.3576       0.0299
28       36.0156   143.4875       0.0307
29       37.0263   174.9724       0.0168

In [ ]:
predictions = ['Indeks_BI' , 'Indeks_NDVI']

X = data[predictions]
y = data['Carbon Total'] 
X

    Indeks_BI  Indeks_NDVI
0    169.3330       0.0198
1    182.3129       0.0352
2    182.1117       0.0114
3    169.6821       0.0315
4    167.2533       0.0319
5    166.8452       0.0145
6    174.4907       0.0084
7    166.0964       0.0138
8    179.4306       0.0143
9    179.9491       0.0029
10   167.3838       0.0180
11   162.0432       0.0086
12   178.1703       0.0117
13   172.2498      -0.0208
14   175.8115       0.0233
15   178.3050       0.0339
16   172.6219       0.0343
17   160.4930       0.0305
18   175.2189       0.0694
19   167.0908       0.0058
20   165.1050       0.0178
21   171.7527      -0.0029
22   164.2579       0.0118
23   168.8925      -0.0057
24   174.4907      -0.0170
25   144.9161       0.0277
26   159.3267       0.0372
27   128.3576       0.0299
28   143.4875       0.0307
29   174.9724       0.0168

In [ ]:
y.head()

0    39.3739
1    35.6145
2    34.7548
3    36.5848
4    41.6800
Name: Carbon Total, dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns= X.columns)
scaled_data.head()

   Indeks_BI  Indeks_NDVI
0   0.107121     0.093651
1   1.218343     0.971276
2   1.201118    -0.385053
3   0.137008     0.760418
4  -0.070924     0.783214

In [ ]:
from sklearn.linear_model import Ridge

clf = Ridge(alpha=0.1)

clf.fit(X, y)

Ridge(alpha=0.1)

In [ ]:
clf.predict(np.array([[172.2498,	-0.0208]]))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  "X does not have valid feature names, but"

array([34.80108269])